@model WebApplication2.Models.VLetter

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>VLetter</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReceiptTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReceiptTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DepartureTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DepartureTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Answer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Answer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CAddressee1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CAddressee1.AddresseeName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CAddressee2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CAddressee2.AddresseeName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CTopic)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CTopic.TopicName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
